.heroes {
  margin: 0 0 2rem 0;
  list-style-type: none;
  padding: 0;
  width: 15rem;
}

.heroes li {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5rem;
  padding: 0.3rem 0;
  height: 1.6rem;
  border-radius: 4px;
}

.heroes li:hover {
  color: #2c3a41;
  background-color: #d9d9d9;
  left: 1rem;
}

.heroes li.selected:hover {
  background-color: #505050;
  color: #fff;
}

.heroes li.selected:active {
  background-color: #000;
  color: #fff;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: #fff;
  padding: 0.8rem 0.7rem 0 0.7rem;
  background-color: #405061;
  line-height: 1rem;
  position: relative;
  height: 1.4rem;
  margin-right: 0.8rem;
  border-radius: 4px 0 0 4px;
}

input {
  padding: 0.5rem;
}
